<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration number webapp</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <h2>Registration Plates for Western Cape</h2>
  <p>Please enter registrations eg. Cape
    Town(CA),Hermanus(CE),Paarl(CY),Bellville(CJ),Strand(CZ),Stellenbosch(CL)</p>
  <div class="container">

    <form method="post" action="/insertRegData">
      <label for="registrationNumber">Registration Number:</label>

      <input type="text" id="registrationNumber" name="registrationNumber" class="large-text-field" size="20" />
      <button type="submit">ADD</button>
    </form><br />

    <div class="registration-grid">
      {{#each allReg}}
      <div class="registration-number">
        {{this.registrations}}
      </div>
      {{/each}}
    </div>
    <form method="post" action="/reset">
      <button class="button"
          type="submit"
          onclick="return confirm('Are you sure you want to reset your data?')">Reset</button>
    </form>
    {{!-- <form method="post" action="/insertRegData">

      <select>Towns
        <option value="">Select a town</option>
        <option value="CA">Cape Town</option>
        <option value="CL">Stellenbosch</option>
        <option value="CEM">Hermanus</option>
        <option value="CJ">Paarl</option>
        <option value="CY">Bellville</option>
        <option value="CEY">Strandfontein</option>
      </select>

    </form>
    <form method="post" action="/insertRegData"><button type="submit">View</button></form>
  </div> --}}
</body>

</html>