<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration number webapp</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <h2>Registration Plates for Western Cape</h2>
  <p>Please enter registrations eg. Cape
    Town(CA),Hermanus(CE),Paarl(CY),Bellville(CJ),Strand(CZ),Stellenbosch(CL)</p>
  <div class="container">
    <script>
      // Clear the reset message after 3 seconds 
      setTimeout(function () {
        document.querySelector('.reset-message').style.display = 'none';
      },
        3000);
    </script>
    {{#if resetMesg}}
    <div class="reset-message">{{ resetMesg }}</div>
    {{/if}}
    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <form method="post" action="/insertRegData">
      <label for="registrationNumber">Registration Number:</label>

      <input type="text" id="registrationNumber" name="registrationNumber" class="large-text-field" size="20" />
      <button type="submit">ADD</button>
    </form><br />

    <div class="registration-grid">
      {{#each display}}
      <div class="registration-number">
        {{this.registrations}}
      </div>
      {{/each}}
    </div>


    <script>
      // Clear the error message after 3 seconds 
      setTimeout(function () {
        document.querySelector('.error-message').style.display = 'none';
      },
        3000);
    </script>
    <div class="drop">
      <form class="dropdown" method="post" action="/filter">

        <select name="allTowns">Towns
          <option class="dropdown-item" value=" ">Select a town</option>
          <option class="dropdown-item" value="1">Cape Town</option>
          <option class="dropdown-item" value="6">Stellenbosch</option>
          <option class="dropdown-item" value="5">Hermanus</option>
          <option class="dropdown-item" value="2">Paarl</option>
          <option class="dropdown-item" value="4">Bellville</option>
          <option class="dropdown-item" value="3">Strandfontein</option>
        </select>
        <button type="submit">View </button>
      </form>
      <div class="button-container">
        <form method="post" action="/">
          <button type="submit">View All</button>
        </form>
        <form method="post" action="/reset">
          <button class="button reset" type="submit"
            onclick="return confirm('Are you sure you want to reset your data?')">Reset</button>
        </form>

      </div>
    </div>

  </div>

</body>

</html>