body{
  font-size:xx-large;
  background-image: url('https://wallpaperaccess.com/full/5636721.jpg');
  background-size: cover;
  background-color: rgb(236, 185, 166);
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
}
.container {
  background-image: url('https://wallpaperaccess.com/full/5636721.jpg');
  background-size: cover;
  background-color: cornsilk;
  padding:4em ;
  text-align: center; 
    border: 2px solid #ccc; 
    border-radius: 10px;
    
}
input{
  width: 250px;
  height: 50px;
}
h1{
  text-align: center;

}
.registration-number{
  border-color: black;
  border-radius: 10px;
  border: 1.5em;
  background-color: #ccd5ae;
  padding: 0.5em;
  width: 250px;
  height: 50px;
  /* display:flex;
  flex-direction: row; */
  border: 1px solid #0b0a0a; /* Add a border to each plate for separation */
    padding: 10px;
    text-align: center;
}
.registration-grid{
  display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; 
}
p{
  text-align: center;
}
button[type="reset"] {
  background-color: #007BFF; /* Red background color */
  color: #f8f5f5; /* White text color */
  padding: 10px 20px; /* Padding around the button text */
  border: none; /* Remove the button border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Change cursor to a pointer on hover */
}
button[type="submit"] {
  background-color: #007BFF; /* Blue background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding around the button text */
  border: none; /* Remove the button border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Change cursor to a pointer on hover */
}
button{
  background-color: #007BFF; /* Blue background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding around the button text */
  border: none; /* Remove the button border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  
}