body {
  font-size: xx-large;
  background-image: url("https://e0.pxfuel.com/wallpapers/351/990/desktop-wallpaper-ferrari-330-car-red-italian-beautiful-race.jpg");
  background-size: cover;
  background-color: rgb(236, 185, 166);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 800px;
  justify-content: center;
  background-image: url("https://e0.pxfuel.com/wallpapers/351/990/desktop-wallpaper-ferrari-330-car-red-italian-beautiful-race.jpg");
  background-size: cover;
  background-color: cornsilk;
  padding: 4em;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
   display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
form{
  padding-top: 1em;
}
input {
  width: 250px;
  height: 50px;
  color: #ccc;
}
label{
  color: #ccc;
}

.button-container {
  text-align: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.dropdown select {
  height: 50px;
  width: 100%;
  
}

/* Style the dropdown options */
.dropdown select option {
  height: 50px;
  padding: 10px; /* Add padding to make the options more visually appealing */
}

h2 {
  text-align: center;
  color: #ccc;
}
/* .drop{
  justify-content: center;
  text-align: center;
  justify-items: center;
} */
.registration-number {
  border-color: black;
  border-radius: 10px;
  border: 1.5em;
  background-color: #ccd5ae;
  padding: 0.5em;
  width: 250px;
  height: 50px;
  border: 1px solid #0b0a0a; /* Add a border to each plate for separation */
  padding: 10px;
  text-align: center;
}
.registration-grid {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Adjust the number of columns as needed */
  gap: 20px;
  /* padding-bottom: 1em; */
}
p {
  font-size: large;
  color:white;
  text-align: center;
}
button[type="reset"] {
  font-size: 0.7em;
  background-color: #007bff; /* Red background color */
  color: #f8f5f5; /* White text color */
  padding: 10px 20px; /* Padding around the button text */
  border: none; /* Remove the button border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Change cursor to a pointer on hover */
}

button[type="submit"] {
  font-size: 0.7em;
  background-color: #007bff; 
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding around the button text */
  border: none; /* Remove the button border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Change cursor to a pointer on hover */
}
button {
  font-size: 0.7em;
  background-color: #007bff; 
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding around the button text */
  border: none; /* Remove the button border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
}
.reset-message {
  background: rgb(156, 238, 151);
  color: rgb(47, 209, 65);
  border: 1px solid rgb(29, 177, 59);
  border-radius: 0.25rem;
  margin-inline: auto;
  padding: 0.25rem 0.5rem;
}
.error-message {
  background: #fcc;
  color: red;
  border: 1px solid red;
  border-radius: 0.25rem;
  margin-inline: auto;
  padding: 0.25rem 0.5rem;
}